.THIS .slds-tabs_scoped__content{
    max-height: 400px;
    overflow-y: auto;
}

.THIS .field-input-readonly[readonly] {
    padding-left: .75rem;
    border-color: rgb(217, 219, 221);
    background-color: rgb(255, 255, 255);
    font-size: inherit;
    font-weight: 400;
}

.THIS .slds-modal__content {
    overflow: visible;
}

.THIS legend.slds-form-element__legend{
    display:none;
}